@use "colors";
@use "bulma/sass" with (
    $family-primary: '"Public Sans", "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",  "Helvetica Neue", "Helvetica", "Arial", sans-serif',
    $navbar-background-color: none,
    $navbar-item-background-l: none,
    $navbar-item-background-a: none,
    $link: colors.$purple-dark,
    $title-color: colors.$purple-dark,
    $content-heading-color: colors.$purple-dark,
    $primary: colors.$purple-light,

);

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500..900&display=swap');