@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500..900&display=swap');

$purple-light: #ab52fd;
$peachy-pink: #ffb2bf;
$purple-dark: #306;

body {
    background-color: var($purple-light);
    background-image: linear-gradient(315deg, $purple-light 8%, $peachy-pink 85%);
}

$hero-font-size: 12vw;

.hero .title {
    font-family: "Barlow Condensed", "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 800;
    color: $purple-dark;
    font-size: $hero-font-size;
    line-height: calc($hero-font-size*0.75);
}

.navbar-item {
    color: $purple-dark;
    font-weight: 800;
    font-size: 20px;
}

