<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{ $opts := dict "transpiler" "libsass" "targetPath" "css/main.css" "includePaths" (slice "node_modules") }}
    {{ with resources.Get "sass/main.scss" | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    {{ with resources.Get "js/main.js" | js.Build | minify | fingerprint  }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/images/favicon.png" rel="icon" type="image/png">
    <link href="/images/webclip.png" rel="apple-touch-icon">
</head>

<body>
    {{ block "main" . }}
    {{ end }}
</body>

</html>