<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title pb-6" data-sal="slide-right">
                <div class="has-text-white">MAKE YOUR</div>
                <div class="has-text-white">OWN</div>
                <div class="is-italic">GOON MEME</div>
            </h1>
        </div>
        <div class="scroll"></div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            {{ with .Site.GetPage "/brand-kit/kits" }}
            <div class="columns is-multiline is-vcentered is-8">
                {{ range sort .Pages ".Params.order" "asc" }}
                <div class="column is-6">
                    {{ with .Resources.GetMatch "*.png" }}
                    <figure class="image kit-image" data-sal="slide-right">
                        <img class="lazy" data-src="{{ .RelPermalink }}" alt="">
                    </figure>
                    {{ end }}
                </div>

                <div class="column is-6">
                    <h2 class="title" data-sal="slide-left">{{ .Title }}</h2>
                    <div class="has-text-white is-size-5">{{ .Content }}</div>
                    <div class="has-text-centered mt-4" data-sal="slide-up" data-sal-delay="500">
                        <a href="{{ .Params.url }}" target="_blank">
                            <button class="button is-white is-outlined">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </span>
                                    <span>DOWNLOAD</span>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>

                {{ end }}

                {{ end }}
            </div>
        </div>
</section>