{{ define "navbar-items" }}
<a class="navbar-item" href="#about">
    About
</a>
<a class="navbar-item" href="#utilities">
    Utilities
</a>
<a class="navbar-item" href="#how-to-buy">
    How to buy
</a>
<a class="navbar-item" href="#tokenomics">
    Tokenomics
</a>
{{ end }}
{{ define "main" }}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title pb-6">
                <div class="is-italic">1 BILLION</div>
                <div>OR</div>
                <div class="is-italic">DEATH</div>
            </h1>
            <figure class="image hero-mobile is-hidden-tablet">
                <img class="lazy" data-src="/images/9.png" alt="Goon Mascot">
            </figure>
            <div>
                <button class="button is-white is-outlined clipboard is-small">
                    <span class="icon">
                        <span data-clipboard="normal">
                            <i class="fas fa-clipboard"></i>
                        </span>
                        <span data-clipboard="success" class="is-hidden has-text-success">
                            <i class="fas fa-check"></i>
                        </span>
                        <span data-clipboard="error" class="is-hidden has-text-danger">
                            <i class="fas fa-xmark"></i>
                        </span>
                    </span>
                    <div data-clipboard="text">
                        {{ site.Params.ca }}
                    </div>
                </button>
                <div class="pt-4">
                    <a href="https://www.coingecko.com/en/coins/goon-2" target="_blank">
                        <button>
                            <figure class="image coingecko">
                                <img src="/images/cg.svg" alt="">
                            </figure>
                        </button>
                    </a>
                </div>
                <figure class="image hero-left is-hidden-mobile">
                    <img class="lazy" data-src="/images/6.png" alt="Goon Mascot">
                </figure>
                <figure class="image hero-right is-hidden-mobile">
                    <img class="lazy" data-src="/images/14.png" alt="Goon Mascot">
                </figure>
            </div>
        </div>
    </div>
</section>
{{ partial "about.html" . }}
{{ partial "utilities.html" . }}
{{ partial "how-to-buy.html" . }}
{{ partial "tokenomics.html" . }}
{{ end }}