{{ define "main" }}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <figure class="figure">
                <img src="/images/goon_logo.png" alt="GOON logo">
            </figure>

        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                About
            </a>

            <a class="navbar-item">
                Tokenomics
            </a>
        </div>
    </div>
</nav>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="title">
                <div class="is-italic">1 BILLION</div>
                <div>OR</div>
                <div class="is-italic">DEATH</div>
            </div>
        </div>
    </div>
</section>
{{ end }}